@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background:linear-gradient(to right, #35234b 0% 10%,#2975bf 60% 70%,#3d54b1 80% 100%);
  }
  
  